{% extends "web/base.html" %} {% block main_body %} {% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/fireworks1/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/1.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/fireworks2/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/2.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/Christmastree2/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/3.png' %}"
                alt="ads via Carbon"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/heart/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/4.png' %}"
                alt="ads via Carbon"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/Christmastree1/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/5.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/fireworks3/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/6.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/drawcanvas/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/7.png' %}"
                alt="ads via Carbon"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/counttime/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/15.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/dice/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/9.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/select/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/10.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/wall/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/11.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-3 pt-lg-5">
      <div id="carbonads">
        <span>
          <span class="carbon-wrap">
            <a
              href="{% static 'html/clock/index.html' %}"
              class="carbon-img"
              target="_blank"
              rel="noopener sponsored"
            >
              <img
                src="{% static 'images/12.png' %}"
                border="2"
                height="100%"
                width="100%"
                data-no-statview="no"
                style="max-width: 200px"
              />
            </a>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}
