<!DOCTYPE html>
{% extends "web/base.html" %} {% block main_body %} {% load static %}

<div class="container">
  <div class="class" ="card border-success mb-3" style="max-width: 100%">
    <div class="card-header text-center">HTML</div>
    <div class="card-body text-success">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            {% comment %} <img src=""{% static 'img/tttelescope.jpg' %}""
            class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">Django web</h5>
              <p class="card-text">study.</p>
              <a
                href="https://www.bilibili.com/video/BV1rT4y1v7uQ/?p=97&spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Django nginx uwsgi</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1G3411D7Jn?p=1&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End html -->
  <div class="class" ="card border-success mb-3" style="max-width: 100%">
    <div class="card-header text-center">English</div>
    <div class="card-body text-success">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            {% comment %} <img src=""{% static 'img/tttelescope.jpg' %}""
            class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">Listen 1</h5>
              <p class="card-text">during cycle</p>
              <a
                href="https://www.bilibili.com/video/BV1ia4y1o7Fx/?p=9&spm_id_from=333.1007.top_right_bar_window_history.content.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Listen 2</h5>
              <p class="card-text">afetr lunch</p>
              <a
                href="https://www.bilibili.com/video/BV11d4y167Zn/?spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">listen 3</h5>
              <p class="card-text">after lunch</p>
              <a
                href="https://www.bilibili.com/video/BV1rQ4y1n7Jc/?spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">listen 4</h5>
              <p class="card-text">after lunch</p>
              <a
                href="https://www.bilibili.com/video/BV1f64y1h7UU/?spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            {% comment %} <img src=""{% static 'img/tttelescope.jpg' %}""
            class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">20000</h5>
              <p class="card-text">study.</p>
              <a
                href="https://www.bilibili.com/video/BV19P411d7st/?spm_id_from=333.1007.top_right_bar_window_history.content.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">ya si</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1vC4y197Ub/?spm_id_from=333.1007.top_right_bar_window_history.content.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End english -->
  <div class="class" ="card border-success mb-3" style="max-width: 100%">
    <div class="card-header text-center">French</div>
    <div class="card-body text-success">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            {% comment %} <img src=""{% static 'img/tttelescope.jpg' %}""
            class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">Basic</h5>
              <p class="card-text">study.</p>
              <a
                href="https://www.bilibili.com/video/BV1iS4y1S7RF/?spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Deep</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1W8411J7Rp/?spm_id_from=333.337.search-card.all.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End french -->
  <div class="class" ="card border-success mb-3" style="max-width: 100%">
    <div class="card-header text-center">Python</div>
    <div class="card-body text-success">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            {% comment %} <img src=""{% static 'img/tttelescope.jpg' %}""
            class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">Opencv</h5>
              <p class="card-text">study.</p>
              <a
                href="https://www.bilibili.com/video/BV1rT4y1v7uQ/?p=97&spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Pytorch 1</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1hE411t7RN/?spm_id_from=333.1007.top_right_bar_window_history.content.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Pytorch 2</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1Y7411d7Ys/?p=5&spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">PyQT</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1US4y1P7ae?p=1&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End python -->
  <div class="class" ="card border-success mb-3" style="max-width: 100%">
    <div class="card-header text-center">Other</div>
    <div class="card-body text-success">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            {% comment %} <img src=""{% static 'img/tttelescope.jpg' %}""
            class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">FFT 1</h5>
              <p class="card-text">study.</p>
              <a
                href="https://www.youtube.com/watch?v=s2K1JfNR7Sc&t=249s"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">FFT 2</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1GM411o71x/?p=3&spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">LABview</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV16L411H7ze?p=1&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mysql</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1ym4y1E7PN/?spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            {% comment %} <img src=""{% static 'img/tttelescope.jpg' %}""
            class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title">physics</h5>
              <p class="card-text">study.</p>
              <a
                href="https://www.bilibili.com/video/BV1Nr4y1P7Pt/?p=34&spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/tttelescope.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">math</h5>
              <p class="card-text">study</p>
              <a
                href="https://www.bilibili.com/video/BV1Wj411R7Az/?spm_id_from=333.880.my_history.page.click&vd_source=55ae195b684445e3c2e7d60c96657212"
                class="btn btn-primary"
                >Go</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End math -->
</div>
{% endblock %}
